<div class="bg"></div>



<div class="header-container">
  <h1  id="name">Natsai Audrey</h1>
  <h1>Chieza</h1>
  <h4>Designer, Founder, Speaker</h4>
</div>

<!-- Paths Content  -->
<div class="header"> 

</div>


<div class="flex-container">
  <div class="content">
    <div>
      <p>Natsai Audrey Chieza, founder and CEO of Faber Futures, is a visionary designer and thought leader with a background in Architectural 
        Design and Material Futures. She fervently champions biodesign initiatives that integrate living systems into solutions to global 
        challenges. 
      </p>
    
      <p>Founded in 2018 and based in London, Faber Futures bridges the gap between scientific advancements and real-world applications, fostering 
        a resilient bioeconomy through collaborations with biotechnology and creative industries. Clients include Ginkgo Bioworks, World Economic 
        Forum, and Arcaea. At the same time, renowned cultural institutions like Cooper Hewitt and Design Museum and La Biennale di Venezia have 
        awarded commissions to the agency. Through its R&D capabilities, Faber Futures develops proprietary biotechnologies for textile dye 
        finishing, finding applications in apparel and fashion, while reflecting the company's commitment to advancing the field through deep 
        engagement across multiple domains.
      </p>
    
      <p>As a member of the World Economic Forum's Global Futures Council on Synthetic Biology, Natsai offers crucial insights into policy 
        development for a mission-oriented bioeconomy. A TED speaker and educator, she advocates for cross-disciplinary collaboration to 
        address planetary challenges through essential systems change. Recognised with the prestigious INDEX award in 2019 and acknowledged 
        on lists like ICON Design 100 and Evening Standard Progress 1000, Chieza's work leads a growing movement towards biophilic futures 
        through biodesign.
      </p>
    
      <div class="center">
        <button class="custom-button" >GET IN TOUCH</button>
      </div>
    </div>
  </div>
</div>
  

