<div class="toolbar">
  <ul>
    <li><button routerLink="/about">ABOUT</button></li>
    <li><button routerLink="/faber">FABER FUTURES</button></li>
    <li><button routerLink="/speaking">SPEAKING</button></li>
    <li><button routerLink="/ted-talks">TED TALKS</button></li>
    <li><button routerLink="/advisory">ADVISORY</button></li>
    <li><button routerLink="/g-i-t">GET IN TOUCH</button></li>
  </ul>
</div>
  

<div class="responsive-toolbar">
  <ul>
    <li><button routerLink="/about">ABOUT</button></li>
    <li><button routerLink="/faber">FABER FUTURES</button></li>
    <li><button routerLink="/speaking">SPEAKING</button></li>
    <li><button routerLink="/ted-talks">TED TALKS</button></li>
    <li><button routerLink="/advisory">ADVISORY</button></li>
    <li><button routerLink="/g-i-t">GET IN TOUCH</button></li>
  </ul>
</div>



