<div class="bg"></div>


<div class="header-container">
  <h1  id="name">SPEAKING</h1>
  <h4>SELECTED TALKS</h4>
</div>

<!-- Paths Content  -->
<div class="header">

</div>



<div class="flex-container">
  <div class="content">
    <div>
      <ul>
        <li><a href="#">TED Salon DWEN</a></li>
        <li><a href="#">LVMH</a></li>
        <li><a href="#">Vitra</a></li>
        <li><a href="#">Biosummit 4.0</a></li>
        <li><a href="#">United Nations Development Programme</a></li>
        <li><a href="#">Design Indaba</a></li>
        <li><a href="#">Business of Fashion</a></li>
        <li><a href="#">Dezeen</a></li>
        <li><a href="#">Apple</a></li>
        <li><a href="#">Altagamma</a></li>
        <li><a href="#">Synbiobeta</a></li>
        <li><a href="#">TED BCG</a></li>
      </ul>

      <div class="center">
        <button class="custom-button" >SPEAKING ENQUIRIES</button>
      </div>
    </div>
  </div>
</div>