<div class="bg"></div>


<div class="header-container">
  <h1  id="name">ADVISORY</h1>
  <h4>WEF: GLOBAL FUTURE COUNCIL ON SYNTHETIC BIOLOGY</h4>
</div>

<!-- Paths Content  -->
<div class="header">

</div>


<div class="flex-container">
  <div class="content">
    <div>
      <p>Natsai Audrey Chieza sits on the Global Future Council on Synthetic Biology. Co-chaired by Megan Palmer and Claudia Vickers, 
        the World Economic Forum’s Network of Global Future Councils is a global multidisciplinary knowledge network grouped in 
        expertise-based thematic councils. The Global Future Council on Synthetic Biology is engaging in a year-long series of 
        activities, gatherings and projects, focused on contextualising the global shifts and providing strategic guidance and 
        understanding of major issues. 
      </p>

      <p>With a focus on addressing the ethical vision for the future of synthetic biology, the delegates represent diverse industries 
        and nationalities, amongst which are: Twist Bioscience, Ginkgo Bioworks, Boston Consulting Group (BCG), Bayer, Organisation 
        for Economic Co-operation and Development (OECD), Massachusetts Institute of Technology (MIT).
      </p>
  
      <p>The Global Futures Councils network brings together a variety of thought leaders from different backgrounds, including academia, 
        government, business and civil society, to promote innovative thinking towards equitable and sustainable future.
      </p>
  
      <div class="center">
        <button class="custom-button" >LEARN MORE</button>
      </div>
    </div>
  </div>
</div>
