<div class="bg"></div>


<div class="header-container">
  <h1  id="name">TED TALKS</h1>
</div>

<!-- Paths Content  -->
<div class="header">

</div>



<div class="flex-container">
  <div class="content">
    <div>
      <youtube-player
        #youtubePlayer
        videoId="oIzinzHQcWg"
        [width]="722"
        [startSeconds]="16"
        [endSeconds]="120"
        suggestedQuality="hd720"
      ></youtube-player>
      <p>"Possible futures from the intersection of nature, tech and society"</p>
    </div><br/><br/>

    <div>
      <youtube-player
        #youtubePlayer
        videoId="bZsn1_DARRs"
        [width]="722"
        [startSeconds]="16"
        [endSeconds]="120"
        suggestedQuality="hd720"
      ></youtube-player>
      <p>"Fashion has a pollution problem, can biology fix it?"</p>
    </div>
  </div>
</div>
