<div class="bg"></div>


<div class="header-container">
  <h1  id="name">FABER FUTURES</h1>
  <h4>DESIGN AT THE INTERSECTION OF NATURE,</h4>
  <h4>TECHNOLOGY AND SOCIETY.</h4>
</div>

<!-- Paths Content  -->
<div class="header">

</div>



<div class="flex-container">
  <div class="content">
    <div>
      <p>At the crossroads of design and biotechnology, Faber Futures is a design agency at the intersection of nature, technology and society, 
        designing with living systems to build sustainable futures.
      </p>
  
      <p>Working across diverse sectors and disciplines, Faber Futures brings critical design thinking to life science technologies like synthetic 
        biology, exploring and enabling compelling and preferable biodesign futures. Through its global network of biotech labs and collaborators, 
        Faber Futures draws on the biofabrication possibilities presented by organisms such as bacteria, fungi and algae to develop new materials, 
        processes and applications across a spectrum of industries- from textile design to the energy sector.
      </p>
  
      <p>By mimicking, co-creating with and engineering living systems, Faber Futures works to generate effective, scalable frameworks to the ever-more 
        pressing challenges of resource scarcity, climate change and sustainability.
      </p>

      <div class="center">
        <button class="custom-button" >VISIT FABER FUTURES</button>
      </div>
    </div>
  </div>
</div>